.intro{
  background:url('../../images/car.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:100vh;
}
.introTitle{
  margin-top:200px;
}
.greenPepper{
  width:40%;
  margin-left:25%;
  margin-top:10%;
}
.cftvSign{
  height:50%;
  width:40px;
  writing-mode:vertical-lr;
  text-orientation:mixed;
  transform:rotate(180deg);
  background-color:#963019;
  text-align:center;
  color:#f6f1ed;
}
.cftvSign > h5{
  margin-left:10px;
}
.fab{
  color:grey;
  font-size:1.5em;
}
.navbar-brand{
  font-size:2em;
  color:red;
}
.nav-link{
  color:grey;
  font-size:1.3em;
}
.navbar-nav{
  margin-left:100px;
}
footer{
  margin-top:100px;
}
@media only screen and(max-width:576px){

}
